@use "./partials/palette" as p;
@use "./partials/mixins" as m;

//reset
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: p.$background;
}

main {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

//calculator keypad ans screen seem to be on a grid with 8 parts, in this case 70px

.calculator {
  &__container {
    display: grid;
    grid-template-rows: repeat(8, 1fr);

    overflow: hidden;
    @include m.height-width(560px, 320px); //7:4 ratio
    background-color: p.$white;
    border-radius: 15px;
    box-shadow: 3px 5px 10px p.$dropShadow;
  }

  &__screen {
  background-color: p.$screenColour;
    grid-row: 1 / 4;
    @include m.height-width(100%, 100%);
  }

  &__button-container {
    grid-row: 4 / 9;
    @include m.height-width(100%, 100%);
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }

  &__button {
    display: flex;
    justify-content: center;
    color: p.$buttonText;
    align-items: center;
    font-family: 'Baloo 2', cursive;
    font-size: 1.8rem;

    &:hover {
      color: grey;
    }
  }
}