@use "./partials/palette" as p;
@use "./partials/mixins" as m;

//reset
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: p.$background;
}

main {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

//calculator keypad ans screen seem to be on a grid with 8 parts, in this case 70px

.calculator {
  &__container {
    //7:4 ratio
    height: 560px;
    width: 320px;
    @include m.height-width(560px, 320px);
    border: 1px solid red;
  }

  &__screen {
  background-color: p.$screenColour;
  }

  &__screen {
    //tempsizing
    @include m.height-width(30%, 100%);
  }
}

