@use "./partials/palette" as p;

//reset
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: p.$background;
}

main {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {

  &__container {
    //7:4 ratio
    height: 560px;
    width: 320px;
    border: 1px solid red;
  }

  &__screen {
  background-color: p.$screenColour;
  }
}

